**/.cache/**
**/.claude/**                                                       
**/.pytest_cache                                                 
**/.pytest_tmp                                                   
**/.qdarnt_data                                                  
**/.vscode    
**/artifacts
**/__pycache__/
**/outputs/
**/.env